{% extends 'base.html' %}
{% block content %}
<h1>Reports</h1>
<table class="table">
    <thead>
        <tr>
            <th>Commodity</th>
            <th>Used</th>
            <th>Received</th>
            <th>Balance</th>
            <th>Expiry Date</th>
            <th>Date Submitted</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.commodity_id }}</td>
            <td>{{ report.quantity_used }}</td>
            <td>{{ report.quantity_received }}</td>
            <td>{{ report.balance }}</td>
            <td>{{ report.expiry_date }}</td>
            <td>{{ report.date_submitted.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
