{% extends 'base.html' %}
{% block content %}
<h1>Commodities</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        {% for commodity in commodities %}
        <tr>
            <td>{{ commodity.name }}</td>
            <td>{{ commodity.description or 'N/A' }}</td>
            <td>{{ commodity.unit or 'N/A' }}</td>
            <td>{{ commodity.expiry_date or 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
