{% extends 'base.html' %}
{% block content %}
<h1>Commodities</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        {% for commodity in commodities %}
        <tr>
            <td>{{ commodity.name }}</td>
            <td>{{ commodity.description or 'N/A' }}</td>
            <td>{{ commodity.unit or 'N/A' }}</td>
            <td>{{ commodity.expiry_date or 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Commodities</h2>
    <ul class="list-group">
        {% for commodity in commodities %}
        <li class="list-group-item">{{ commodity.name }} - {{ commodity.description }}</li>
        {% else %}
        <li class="list-group-item">No commodities found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
